{% extends 'message/base.html' %}

{% block content %}
  <div class="album py-5 bg-dark text-white">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for send in object_list %}
          <div class="col">
            <div class="card shadow-sm text-center">
              <div class="card-body d-flex flex-column justify-content-center">
                <h5 class="card-title">Рассылки</h5>
                <ul class="list-unstyled">
                  <li>{{ send }}</li>
                </ul>
              </div>
              <div class="card-footer d-flex justify-content-center align-items-center">
                <div class="btn-group">
                  <a class="btn btn-primary" href="{% url 'message:send_detail' send.pk %}" role="button">Посмотреть</a>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
